/* عند دخول العنصر */
.fade-enter {
    opacity: 0;
}

/* أثناء الدخول */
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

/* عند الخروج */
.fade-exit {
    opacity: 1;
}

/* أثناء الخروج */
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
